html,
body {

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  font-family: 'Helvetica',
    sans-serif;
  display: block;
  padding: 1.2em;
  margin-top: 2em;



}


canvas {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: none;

}

button,
#timer {
  font-size: medium;
  font-family: 'Helvetica', sans-serif;
  border-radius: 0.5em;
  border: none;
  opacity: 0.8;
  display: block;
  cursor: pointer;
  padding: 1.2em;
  margin: 2em;
  transition: all .2s ease-in-out;
}

button:hover {
  color: rgb(197, 204, 193);
  background-color: #151515;
}